.noDataContainer {
    margin-top: 15%;
    margin-bottom: 15%;
    margin: 0 auto;
    // height: 100%;

    .noDataImage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .noDataTitle {
        padding: 14px;
        font-weight: 500;
    }

    .noDataSubtitle {
        font-size: 12px;
    }
    .noDataImg {
        max-height: 100px;
        max-width: 100px;
    }
}
