.eventsContainer {
    height: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .subheading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 500;
        gap: 10px;
        width: 50%;
    }

    .heading {
        font-size: 24px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .eventsImg {
        max-width: 100%;
        border-radius: 10px;
    }
    .event {
        padding: 20px;
    }
}
