.explore-events {
    height: 100%;
    .explore-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
    .explore-container {
        height: 100%;
    }
}